@import "tailwindcss";
#btn{
 box-shadow: 1px 3px 7px  rgba(0, 0, 0, 0.3);
/*               ↑   ↑     ↑     ↑
               x   y   blur  spread  */

}
#animate {
  width: 0;
  height: 5px;
  background: linear-gradient(to right, blue, purple);
  transition: all 0.2s linear;
}

.group:hover #animate {
  animation: expand 2s ease-in-out forwards;
}

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
html {
  scroll-behavior: smooth; /* optional, for smooth scroll */
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 135px;
}

 /* #about{
  scroll-margin-top:150px;

}
#contact{scroll-margin-top: 220px;}
#seo{
  scroll-margin-top: 120px;
  
}
#web{
  scroll-margin-top: 175px;
}
#service{
  scroll-margin-top: 180px;
}
#digital{
   scroll-margin-top: 190px;
}
.rotate-y-180 {
  transform: rotateY(180deg);
} */